:host {
  width: 100%;
  height: 100%;
}

.is-mobile {
  .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
}

