.app-toolbar {
  position: fixed;
  
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

//Menu
.user-menu-wrapper {
  min-width: 50vw;
  max-width: 50vw;
}

.user-menu {
  display: flex;
  flex-direction: column;
}

.user-menu-item {
  display: flex;
  min-width: 64px;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 36px;
  user-select: none;

  &:hover {
    background-color: rgb(208 208 208);
  }

  &:active {
    background-color: rgb(170 170 170);
  }
}
