import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';

import { <%=classify(name)%>Container } from './containers';

export const routes: Routes = [
  {
    path: '',
    component: <%=classify(name)%>Container
  }
];

@NgModule({
  imports: [RouterModule.forChild(routes)],
  exports: [RouterModule],
  providers: []
})
export class <%=classify(name)%>RoutingModule {}
